@import url('https://fonts.googleapis.com/css?family=Abel|Abril+Fatface|Alegreya|Arima+Madurai|Dancing+Script|Dosis|Merriweather|Oleo+Script|Overlock|PT+Serif|Pacifico|Playball|Playfair+Display|Share|Unica+One|Vibur');

H3 {
  font-family: 'Dancing Script', cursive;
  /* */
  font-size: 40px;
}
h4 {
  font-family: 'Monserrat', sans-serif;
  font-size: 25px;
  text-align: center;
  color:#a06c3f;
}

.ch-grid {
margin: 20px 0 0 0;
padding: 0;
list-style: none;
display: block;
text-align: center;
width: 100%;
}
.ch-grid:after,
.ch-item:before {
content: '';
display: table;
}
.ch-grid:after {
clear: both;
}
.ch-grid li {
width: 1200px;
height: 310px;
display: inline-block;
margin: 20px;
}
.ch-item {
width: 1200px;
height: 310px;
overflow: hidden;
position: relative;
cursor: default;
box-shadow: 
    inset 0 0 0 16px rgba(255,255,255,0.6),
    0 1px 2px rgba(0,0,0,0.1);
transition: all 0.4s ease-in-out;
}
.ch-img-1 { 
background-image: url(../img/mCal.jpg);
}
.ch-info {
position: absolute;
background: rgba(193,159,124, 0.8);
width: inherit;
height: inherit;
overflow: hidden;
opacity: 0;
transition: all 0.4s ease-in-out;
transform: scale(0);
}
.ch-info h1 {
color: #fff;
text-transform: uppercase;
letter-spacing: 2px;
font-size: 40px;
margin: 0 30px;
padding: 45px 0 0 0;
height: 140px;
font-family: 'Playfair Display', serif;
text-shadow: 
    0 0 1px #fff, 
    0 1px 2px rgba(0,0,0,0.3);
}
.ch-info p {
color: #fff;
padding: 10px 5px;
font-style: italic;
margin: 0 35px;
font-size: 25px;
border-top: 1px solid rgba(255,255,255,0.5);
opacity: 0;
transition: all 1s ease-in-out 0.4s;
}
.ch-info p a {
display: block;
color: rgba(255,255,255,0.7);
font-style: normal;
font-weight: 700;
text-transform: uppercase;
font-size: 15px;
letter-spacing: 1px;
padding-top: 4px;
font-family: 'Open Sans', Arial, sans-serif;
}
.ch-info p a:hover {
color: rgba(255,242,34, 0.8);
}
.ch-item:hover {
box-shadow: 
    inset 0 0 0 1px rgba(255,255,255,0.1),
    0 1px 2px rgba(0,0,0,0.1);
}
.ch-item:hover .ch-info {
transform: scale(1);
opacity: 1;
}
.ch-item:hover .ch-info p {
opacity: 1;
}

@media (max-width: 580px) {
.ch-grid {
margin: 5px 0 0 0;
padding: 0;
list-style: none;
display: block;
text-align: center;
width: 100%;
}
.ch-grid li {
width: 500px;
height: 310px;
display: inline-block;
margin: 5px;
}
.ch-item {
width: 500px;
height: 310px;
overflow: hidden;
position: relative;
cursor: default;
box-shadow: 
    inset 0 0 0 16px rgba(255,255,255,0.6),
    0 1px 2px rgba(0,0,0,0.1);
transition: all 0.4s ease-in-out;
}
}
@media (max-width: 375px) {
.ch-grid {
margin: 5px 0 0 0;
padding: 0;
list-style: none;
display: block;
text-align: center;
width: 100%;
}
.ch-grid li {
width: 330px;
height: 310px;
display: inline-block;
margin: 5px;
}
.ch-item {
width: 330px;
height: 310px;
overflow: hidden;
position: relative;
cursor: default;
box-shadow: 
    inset 0 0 0 16px rgba(255,255,255,0.6),
    0 1px 2px rgba(0,0,0,0.1);
transition: all 0.4s ease-in-out;
}
}
@media (max-width: 412px) {
.ch-grid {
margin: 5px 0 0 0;
padding: 0;
list-style: none;
display: block;
text-align: center;
width: 100%;
}
.ch-grid li {
width: 330px;
height: 310px;
display: inline-block;
margin: 5px;
}
.ch-item {
width: 330px;
height: 310px;
overflow: hidden;
position: relative;
cursor: default;
box-shadow: 
    inset 0 0 0 16px rgba(255,255,255,0.6),
    0 1px 2px rgba(0,0,0,0.1);
transition: all 0.4s ease-in-out;
}
}
@media (max-width: 414px) {
.ch-grid {
margin: 5px 0 0 0;
padding: 0;
list-style: none;
display: block;
text-align: center;
width: 100%;
}
.ch-grid li {
width: 330px;
height: 310px;
display: inline-block;
margin: 5px;
}
.ch-item {
width: 330px;
height: 310px;
overflow: hidden;
position: relative;
cursor: default;
box-shadow: 
    inset 0 0 0 16px rgba(255,255,255,0.6),
    0 1px 2px rgba(0,0,0,0.1);
transition: all 0.4s ease-in-out;
}
}